@import '../../../../theme/base.scss';

.recent {
  font-size: $font-normal;
  border-bottom: 2px solid $palette-grey-pale;
  padding: 10px;
  color: $palette-black;
  background-color: $palette-white;
  width: 100%;
  &:last-child {
    border-bottom: 2px solid $palette-grey-blue;
  }
}

.labelName {
  margin: 0 90px 0 70px;
  font-weight: bold;
}

.labelState {
  @extend .labelName;
  font-weight: normal;
  font-size: $font-small;
}

.delete {
  font-size: 32px !important;
  position: absolute;
  padding: 3px 15px;
  border-right: 2px solid $palette-grey-pale;
}

.chevron {
  @extend .delete;
  right: 70px;
  border-right: none;
}
